/* media */
$media-xs: 480px;
$media-sm: 720px;
$media-md: 980px;
$media-lg: 1200px;
$media-xl: 1440px;
/* colors */
$dark-grey: #38464d;
$light-grey: #a7d1e5;
$white: #ffffff;
$black: #000000;
$hover-color: #3c4b52;
$red: #c00;
